.form-container label
{
   text-align: left;
}

.form-container input, .form-container input[type="file"], .form-container input[type="text"], .form-container input[type="password"] {
	clear: both;
	width: 100%;
}

.form-container select {
	width: auto;
	float: left;
}

.form-container input.date-entry {
	margin-bottom: 0.1em;
	width: 90% !important;
	float: left;
}

.form-container .format-info {
	margin-bottom: 0;
	float: left;
}

.yui-gc div.first, .yui-gd .yui-u {
	width: 64%;
}

.toolbar .onActionEditMultipleDocumentMetadata
{
   background-image: url(actions/document-edit-properties-16.png);
}